.flag {
	margin: 30px;
	width: 600px;
	height: 400px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

/* Flag of Belgium */
.black {
	width: 200px;
	height: 400px;
	background: black;
	float: left;
}

.yellow {
	width: 200px;
	height: 400px;
	background: yellow;
	float: left;
	 ;


}

.red {
	width: 200px;
	height: 400px;
	float: left;
	background: red;

}

/* Flag of Japan */
.circle{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-color: red;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}



/* Flag of Trinidad and Tobago */

.rectangle{
	width: 600px;
	height: 400px;
	background-color: red;
	position: absolute;
}

.square{
	width: 90px;
	height: 900px;
	background-color: black;
	border: 20px solid white;
	position: absolute;
	transform: rotate(-57deg);
	top: -85%;
	left: 35%;
}

